* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  --primary: #1f2833;
  --secondary: #66FCF1;
  font-family: "Trebuchet MS", Helvetica, sans-serif;

}

html {
  height: 100%;
}

body {
  color: #333e5a;
  min-height: 100%;
}

header {
  background: var(--primary);
  color: var(--secondary);
  text-align: center;
  flex-grow: 0;
}

h1 {
  font-weight: bold 300;
  padding:0.4em 0;
}

#root {
  min-height: 100vh;
}

.app {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

main {
  padding-top: 10vh;
  background: #f2f3f4;
  flex-grow: 1;
}

form {
  max-width: 300px;
  margin: 0 auto;
}

h2 {
  color: #0b0c10;
  font-weight: bold;
  font-size: 1.5rem;
  margin-bottom: 1em;
  text-align: center;
}

form > div {
  width: 100%;
  margin-bottom: 1em;
}
form > div > label {
  color: primary; 
  display: block;
  margin-bottom: 0.3em;
}
form > div > input {
  display: block;
  width: 100%;
  font-size: 16px;
  padding: 0.4em;
  border-radius: 6px;
  border: 1px solid #333e5a;
}

.points {
  margin-top: 4em;
}

.logout {
  padding:1em;
}

.lobbySubmit {
  background: var(--secondary);
  color: var(--primary);
  font-size: 16px;
  margin-top: 1em;
  width: 100%;
  padding: 0.4em;
  border-radius: 6px;
  border: 2px solid var(--primary);
}
button:hover {
  filter: brightness(150%);
}

.room {
  display: block;
  position: relative;
  width:82vw;
}
.room button {
  width: 7em;
  background: var(--secondary);
  color: var(--primary);
  font-size: 16px;
  padding: 0.4em;
  border-radius: 6px;
  border: 2px solid var(--primary);
  position: absolute;
}
.room > h3 {

  text-align: center;
  font-weight: 300;
  margin-bottom: 1em;
}

.local-participant {
  text-align: center;
  margin-bottom: 2em;
}
.remote-participants {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  padding: 0 2em 2em;
}
.participant {
  background: var(--primary);
  padding: 10px;
  border-radius: 6px;
  display: inline-block;
  margin-right: 10px;
  height:350px;
  width:350px;
}
.participant:last-child {
  margin-right: 0;
}
.participant h3 {
  text-align: center;
  padding-bottom: 0.5em;
  color: #fff;
}

#chatbox {
  background:#232323;
  height:80vh;
  width:25vw;
  padding-left: 5vw;
  margin-top: 1vh;
  position:fixed;
  right:0.1vw;
  top: 10vh;
  overflow-x:auto;
  overflow-y:auto;
  word-wrap:break-word;
}

#chatbox p {
  margin:5px 0;
  padding:0;
}

#chat-input {
  position:fixed;
  width:25vw;
  bottom:10vh;
  right:0.1vw;
}

.message-container {
  margin:5px 0;
  color:#fff;
}

.message-container .username {
  display:inline-block;
  margin-right:5px;
  font-weight:bold;
  color:#849091;
}

.me, .username.me {
  font-weight:bold;
  color:cyan;
}

.message-container .username.me {
  display:inline-block;
  margin-right:5px;
}

video {
  width: 100%;
  max-width: 600px;
  display: block;
  margin: 0 auto;
  border-radius: 6px;
}

footer {
  background: var(--primary);
  color: #fff;
  text-align: center;
  flex-grow: 0;
  padding: 1vh 0;
}

footer a {
  color: #fff;
}
